listening-port=3478
tls-listening-port=5349
min-port=__TURN_RELAY_MIN_PORT__
max-port=__TURN_RELAY_MAX_PORT__

fingerprint
use-auth-secret
static-auth-secret=__TURN_SHARED_SECRET__

realm=__TURN_REALM__
server-name=__TURN_SERVER_NAME__
external-ip=__TURN_PUBLIC_IP__

total-quota=100
stale-nonce=600
no-cli
no-loopback-peers
no-multicast-peers

cert=__TURN_CERT__
pkey=__TURN_PKEY__
